<img class="pic1" alt="">

<div class="rectangle281"></div>
<div class="rectangle281-text">הטבות כושר למנויים</div>

<div class="text">פגישה אישית ייעוץ לפעילות גופנית</div>

<div class="rectangle235"></div>
<div class="rectangle235-text">בפגישה אישית ניצור יחד תכנית פעולה מותאמת להכנסת כושר 
    <br>,לשגרה שלך<br>
    רעיונות לתרגילים יעודים בדיוק
    <br> בשבילך , מתיחות למצבי כאב ,
    ופתרונות תנועתיים למצבים 
    <br>.מאתגרים
</div>

<div class="rectangle236"></div>
<div class="rectangle236-text">-סדנת אורח חיים בריא<br>
    בשווי של 100 ש"ח חינם לבעלות
    <br>מנוי וחברות לאומית ו20- ש"ח
    <br>.ללקוחות כרטיסיה
    <br> אחת לחודש תערך בסטודיו סדנה
    <br>לאורח חיים בריא מדיאטנית<br>
    .מובילה<br>
    בתחום הבריאות
    והירידה <br>
    .במשקל
</div>


<div class="rectangle237"></div>
<div class="rectangle237-text">עם שאלות ותשובות שלכן עצות 
    .וטיפים לתזונה בריאה ועוד
    <div class="rectangle237-text2"> הסדנה היא סגורה ומיועדת 
    <br>,למתאמנות סטודיו אפ בלבד 
    <br> פרטים בסטודיו</div>
</div>

<div class="rectangle168"></div>
<div class="rectangle168-text">מסלולי מנויים</div>

<div class="rectangle190 "></div>
<div class="rectangle282"></div>
<div class="rectangle283"></div>
<div class="rectangle284 "></div>
<div class="rectangle285 "></div>
<div class="rectangle287 "></div>
<div class="rectangle286 "></div>
<div class="rectangle288 "></div>
<div class="rectangle289 "></div>
<div class="rectangle21"></div>

<div class="group85"> </div>
<div class="rectangle21"></div>
<a class="rectangle21-text" href="/*קישור לדף של ההרשמה*/" >להצטרפות למנוי</a>
<div class="rectangle22"></div>
<div class="arrov"><h1>↙</h1></div>
