.pic1 {
    background-image: url('../assets/s1.png');
    position: absolute;
    width: 52%;
    height: 55%;
    left: 35%;
    top: 18%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.rectangle281 {
    position: absolute;
    width: 20%;
    height: 55%;
    left: 11.5%;
    top: 18%;
    background: #4C4C49;
    border-radius: 60px;
}
.rectangle281-text {
    position: absolute;
    width: 14%;
    height: 19%;
    left: 15.4%;
    top: 33.6%;
    font-family: 'Anomalia ML v2 AAA';
    font-style: normal;
    font-weight: 700;
    font-size: 4.6vw;
    line-height: 4.1vw;
    text-align: right;
    color: #FFFFFF;
}
.text {
    position: absolute;
    width: 50%;
    height: 4%;
    left: 31.2%;
    top: 85%;
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 700;
    font-size: 2.6vw;
    line-height: 2.8vw;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4C4C49;
}
.rectangle235 {
    position: absolute;
    width: 20.6%;
    height: 43.2%;
    left: 60.7%;
    top: 95%;
    background: rgba(255, 246, 212, 0.8);
    border-radius: 60px;
}
.rectangle235-text {
    position: absolute;
    width: 14.8%;
    height: 21.8%;
    left: 63.5%;
    top: 104%;
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.5vw;
    text-align: center;
    color: #000000;
}
.rectangle236 {
    position: absolute;
    width: 20.5%;
    height: 43.2%;
    left: 37.7%;
    top: 95%;
    background: rgba(255, 246, 212, 0.8);
    border-radius: 60px;
}
.rectangle236-text {
    position: absolute;
    width: 14.7%;
    height: 27.7%;
    left: 40.7%;
    top: 104%;
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.5vw;
    text-align: center;
    color: #000000;
}
.rectangle237 {
    position: absolute;
    width: 20.6%;
    height: 43.2%;
    left: 14.6%;
    top: 95%;
    background: rgba(255, 246, 212, 0.8);
    border-radius: 60px;
}
.rectangle237-text {
    position: absolute;
    width: 14.6%;
    height: 27.7%;
    left: 18%;
    top: 104%;
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.5vw;
    text-align: center;
    color: #000000;
}
.rectangle237-text2 {
    color: #FFCC0F;
}
.rectangle168 {
    position: absolute;
    width: 75.3%;
    height: 110.1%;
    left: 11.5%;
    top: 150.2%;
    background: #FBEDE9;
    border-radius: 60px;
}
.rectangle168-text {
    position: absolute;
    width: 10.7%;
    height: 3.9%;
    left: 44.1%;
    top: 154.2%;
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4C4C49;
}
.rectangle190,
.rectangle282,
.rectangle283,
.rectangle284,
.rectangle285,
.rectangle287,
.rectangle286,
.rectangle288,
.rectangle289 {
    position: absolute;
    width: 66.6%;
    height: 7.4%;
    left: 15.7%;
    background: #FFFFFF;
    border-radius: 10px;
}
.rectangle190 { top: 162.4%; }
.rectangle282 { top: 172.4%; }
.rectangle283 { top: 182.4%; }
.rectangle284 { top: 192.4%; }
.rectangle285 { top: 202.4%; }
.rectangle287 { top: 212.4%; }
.rectangle286 { top: 222.4%; }
.rectangle288 { top: 232.4%; }
.rectangle289 { top: 242.4%; }
.group85 {
    position: absolute;
    width: 16.9%;
    height: 5%;
    left: 29.3%;
    top: 229.1%;
    transform: rotate(-0.45deg);
}
.rectangle21 {
    position: absolute;
    width: 14%;
    height: 4.05%;
    left: 44.3%;
    top: 253.8%;
    background: #D91C5C;
    border-radius: 60px;
}
.rectangle21-text {
    position: absolute;
    width: 14.5%;
    height: 5%;
    left: 40.5%;
    top: 253.4%;
    font-family: 'Ploni ML v2 AAA';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2.4vw;
    text-decoration: none;
    display: 184%;
    align-items: center;
    text-align: right;
    color: #FAF6F3;
}
.rectangle22 {
    box-sizing: border-box;
    position: absolute;
    width: 2.3%;
    height: 4.05%;
    left: 41.9%;
    top: 254%;
    border: 1.5px solid #000000;
    border-radius: 45px;
}
.arrov {
    box-sizing: border-box;
    position: absolute;
    width: 1.2%;
    height: 0;
    left: 42.4%;
    top: 251.6%;
    color: #4C4C49;
    font-size: 0.9vw;
}