#top {
    display: flex;
    flex-direction: row;
    margin-top: 6%;

    #a {
        width: 55%;
        height: 300px;
        top: 132px;
        left: 98px;
        border-radius: 33px;
        background-color: #4c4c49;
        margin-left: 8%;

        #b {

            width: 55%;
            // height: 366.22px;
            top: 178px;
            left: 142px;
            rotate: 0;

            #c {
                color: white;
                margin: -40%;
                background-color: gray;
                margin-right: 35%;
                font-size: 2.5cm;


            }

            #svg {
                position: relative;
                display: inline-block;

                text {
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    color: var(--ffffff, #FFF);
                    // font-family: "Anomalia ML v2 AAA";
                    font-family: Aharoni;
                    font-size: 580%;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 68px;
                    width: 5%;
                    height: 350px;

                    flex-shrink: 0;

                }
            }
        }
    }

    #d {
        width: 0.8%;
        height: 61px;
        top: 560px;
        left: 877px;
        rotate: 90;
        background-color: #ffffff;
    }

    #e {

        width: 32%;
        height: 300px;
        top: 132px;
        left: 912px;
        gap: 0px;
        border-radius: 33px;
        opacity: 0px;
        background: rgba(255, 204, 15, 1);



        #f {

            margin-top: 20%;
            margin-left: 42%;
            width: 8%;
            height: 5%;
            transform: rotate(-10.265deg);
            flex-shrink: 0;
        }
    }
}

// // #j {
// //     display: flex;
// //     flex-direction: row;
// //     flex-wrap: wrap;
// //     justify-content: space-evenly;
// //     width: 90%;
// //     justify-content: center;
// //     margin-top: 12%;
// //     margin-left: 6.5%;

// //     #k {

// //         width: 24%;
// //         height: 400px;
// //         top: 620px;
// //         left: 76px;
// //         gap: 0%;
// //         border-radius: 23%;
// //         opacity: 0px;
// //         background-color: rgba(250, 246, 243, 0.50);
// //         margin: 1.5%;

// //         #icon {
// //             width: 65px;
// //             height: 37.5px;
// //             flex-shrink: 0;
// //             // border: 1px solid rgba(255, 204, 15, 1);
// //             // background-color:rgba(255, 204, 15, 0.5);
// //             // width: 25%;
// //             // height: 37.5px;
// //             top: 699px;
// //             left: 111px;
// //             gap: 0px;
// //             opacity: 0px;
// //             // angle: 0 deg;
// //             margin: 12%;
// //         }

// //         p {
// //             font-family: Aharoni;
// //             //styleName: 22;
// //             // font-family: Ploni ML v2 AAA;
// //             font-size: 150%;
// //             font-weight: 400;
// //             line-height: 30px;
// //             text-align: left;
// //             width: 65%;
// //             height: 180px;
// //             top: 764.75px;
// //             left: 116.66px;
// //             gap: 0px;
// //             opacity: 0px;
// //             angle: -0.45 deg;
// //             margin-left: 9%;
// //             margin-top: 19%;
// //             color: rgba(76, 76, 73, 1);
// //         }

// //         #name {
// //             width: 30%;
// //             height: 10%;
// //             margin-top: -2%;
// //             font-size: 100%;
// //             color: rgba(76, 76, 73, 1);
// //             border: solid 0.1px gray;
// //         }

// //     }
// // }
#cards {
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;

    #kl {
        width: 26%;
        height: 400px;
        top: 620px;
        left: 76px;
        gap: 0%;
        border-radius: 23%;
        opacity: 0px;
        background-color: rgba(250, 246, 243, 0.50);
        margin: 1.5%;

        #icon {
            width: 65px;
            height: 37.5px;
            flex-shrink: 0;
            top: 699px;
            left: 111px;
            gap: 0px;
            opacity: 0px;
            // angle: 0 deg;
            margin: 12%;
        }

        #j {
            font-family: Aharoni;
            //styleName: 22;
            // font-family: Ploni ML v2 AAA;
            font-size: 150%;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            width: 65%;
            height: 180px;
            top: 764.75px;
            left: 116.66px;
            gap: 0px;
            opacity: 0px;
            angle: -0.45 deg;
            margin-left: 9%;
            margin-top: 19%;
            color: rgba(76, 76, 73, 1);
        }

        #name {
            font-family: Aharoni;
            width: 50%;
            height: 20%;
            margin-top: -2%;
            margin-left: 11%;
            font-size: 160%;
            color: rgba(76, 76, 73, 1);
        }
    }
}


// #top {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }

//   #top #a, #top #d, #top #e {
//     width: 100%;
//   }

//   #b, #f {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   /* עיצוב ברירת מחדל */
//   #svg {
//     width: 764px;
//     height: 367px;
//   }

//   #f svg {
//     width: 250px;
//     height: 216px;
//   }

//   /* סגנונות למכשירים ברוחב קטן מ-768px */
//   @media (max-width: 768px) {
//     #svg {
//       width: 100%;
//       height: auto;
//     }

//     #f svg {
//       width: 200px;
//       height: auto;
//     }
//   }

//   /* סגנונות למכשירים ברוחב קטן מ-480px */
//   @media (max-width: 480px) {
//     #svg {
//       width: 100%;
//       height: auto;
//     }

//     #f svg {
//       width: 150px;
//       height: auto;
//     }
//   }


@media (max-width: 768px) {
    #svg {
        width: 50%;
        height: auto;
    }

    #f svg {
        width: 100px;
        height: auto;
    }
    #top {
        #a {
            height: 40xp;
        }

        #b {
            height: 40px;
        }
    }
}

/* סגנונות למכשירים ברוחב קטן מ-480px */
@media (max-width: 480px) {
    #svg {
        width:120px ;
        height: auto;
    }

    #f svg {
        width: 150px;
        height: auto;
    }

    #top {
        #a {
            height: 40xp;
        }

        #b {
            height: 40px;
        }
    }
}