<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header text-center">
            <h3>כניסה</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <div class="form-group">
                <label for="email">כתובת אימייל</label>
                <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email" placeholder="הכנס כתובת אימייל">
              </div>
              <div class="form-group">
                <label for="password">סיסמה</label>
                <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password" placeholder="הכנס סיסמה">
              </div>
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">התחבר</button>
              <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  