<div class="outer-div">
    <div class="inner-div1">
        <div>מערכת שיעורים</div>
    </div>
    <div class="inner-div2">
        <div>
            <!-- <div class="n"></div> -->
            <div class="z"></div>
        </div>
    </div>
</div>
<div class="t">
<div id="titles">
    <p>ראשון</p>
    <p>שני</p>
    <p>שלישי</p>
    <p>רביעי</p>
    <p>חמישי</p>
    <p>שישי</p>
    <p>מוצשק</p>
</div>
<table>

    <!-- <tr>
        <td class="days">ראשון</td>
        <td class="days">שני</td>
        <td class="days">שלישי</td>
        <td class="days">רביעי</td>
        <td class="days">חמישי</td>
        <td class="days">שישי</td>
        <td class="days">מוצשק</td>
    </tr> -->
    <tr>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
    <tr>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
     <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     </tr>

</table>
<!-- </div> -->
    </div>


<!-- <table>
    שורה
    <tr>
        טורים
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
        <td>e</td>
    </tr>
    <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
        <td>e</td>
    </tr>
</table> -->