#header {
    width: 50%;
    // height:15%;
    top: 3735px;
    left: 436px;
    gap: 0px;
    opacity: 0px;
    angle: -0.45 deg;
    // font-family: Anomalia ML v2 AAA;
    font-family: Aharoni;
    font-size: 80px;
    font-weight: 500;
    line-height: 71px;
    text-align: center;
    // background: rgba(76, 76, 73, 1);
    margin-left: 23%;
}

#allcards {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
margin-left: 17%;
    #card {

        width: 23%;
        height: 400px;
        top: 620px;
        left: 76px;
        gap: 0%;
        border-radius: 23%;
        opacity: 0px;
        background-color: rgba(250, 246, 243, 0.50);
        margin: 2.8%;

        #icon {
            width: 65px;
            height: 37.5px;
            flex-shrink: 0;
            padding-top: 12%;
            padding-left: 12%;
        }

        p {
            font-family: Aharoni;
            //styleName: 22;
            // font-family: Ploni ML v2 AAA;
            font-size: 150%;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            width: 65%;
            height: 180px;
            top: 764.75px;
            left: 116.66px;
            gap: 0px;
            opacity: 0px;
            angle: -0.45 deg;
            margin-left: 9%;
            margin-top: 19%;
            color: rgba(76, 76, 73, 1);
        }

        #name {
            width: 30%;
            height: 10%;
            margin-top: -4%;
            font-size: 100%;
            margin-left: 15%;
            color: rgba(76, 76, 73, 1);
            // border: solid 0.2px gray;
        }

    }
}

#end {
    display: flex;
    flex-direction: row;
    justify-content: center;

    #readmore {
        border-radius: 35px;
        background: var(--, #D91C5C);
        width: 12%;
        // height: 39px;
        flex-shrink: 0;
        background-color: rgb(217, 28, 92, 1);
        color: rgba(250, 246, 243, 1);
        color: var(--, #FAF6F3);
        text-align: center;
        // font-family: "Ploni ML v2 AAA";
        font-family: Aharoni;
        font-size: 185%;
        // font-style: normal;
        // font-weight: 200;
        line-height: 46px;
        /* 164.286% */
        margin: 0.3%;
        margin-right: 6%;
    }

    #link{
        // margin-right: 0.2%;
        width: 4%;
    // height: 47.22px;
    top: 4367.4px;
    left: 610px;
    // gap: 0px;
    // opacity: 0px;
    // angle: 0.45 deg;
    // width: 21.213px;
    // height: 0px;
    transform: rotate(2deg);
    // flex-shrink: 0;
    // stroke-width: 2px;
    // stroke: var(--, #4C4C49);


    #circle {

        // border-radius: 4%;
        // border: 1px solid var(--Color-7, #000);
      display: flex;

        justify-items: center;
        // width: 3%;
        // flex-shrink: 0;
        width: 61%;
        height: 69%;
        flex-shrink: 0;
        border-radius: 49%;
        border: 1px solid var(--Color-7, #000);
        background: #FFF;
// flex-direction: column;
justify-content: space-around;
        align-items: center;

    }
}

 }


 #card {

    width: 22%;
    height: 400px;
    top: 620px;
    left: 76px;
    gap: 0%;
    border-radius: 23%;
    opacity: 0px;
    background-color: rgba(250, 246, 243, 0.50);
    margin: 1.5%;

    #icon {
        width: 65px;
        height: 37.5px;
        flex-shrink: 0;
        padding-top: 12%;
        padding-left: 12%;
    }

    p {
        font-family: Aharoni;
        //styleName: 22;
        // font-family: Ploni ML v2 AAA;
        font-size: 150%;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        width: 65%;
        height: 180px;
        top: 764.75px;
        left: 116.66px;
        gap: 0px;
        opacity: 0px;
        angle: -0.45 deg;
        margin-left: 9%;
        margin-top: 19%;
        color: rgba(76, 76, 73, 1);
    }

    #name {
        width: 30%;
        height: 10%;
        margin-top: -4%;
        font-size: 100%;
        margin-left: 15%;
        color: rgba(76, 76, 73, 1);
        border: solid 0.2px gray;
    }

}